# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environments
.venv/
venv/
env/
ENV/
.env/
.conda/
.mamba/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Jupyter notebook temporary files
*.log
*.out
*.pid

# OS
.DS_Store
Thumbs.db
